
    
    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(193, 170, 143, 0.43);  
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.logo img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 30%;
  height: auto;

} 

.logo h1 {
  font-size: 1.8em;
  color: #3b2f2f;
  margin-top: 50px;
  letter-spacing: 1px;
  
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  border-radius: 1px solid black;
 gap: 20px; /* espace entre les boutons */

}

nav a {
  text-decoration: none;
  color: #25b8ae;
  padding: 10px 18px;
 
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #d8b979;
  color: #fff;
}

nav a.active {
  background-color: #b68c46;
  color: #fff;
}
section {
  text-align: center;
  padding: 60px 20px;
  
}

section h2 {
  font-size: 2em;
  color: #4a3b2e;
  margin-bottom: 20px;
}

section p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1em;
  color: #555;
}
footer {
  text-align: center;
  background-color: #3b2f2f;
  color: #fff;
  padding: 20px 0;
  font-size: 0.9em;
  margin-top: 40px;
}
main{
  padding: 40px 10%;
  background-color: tan;
}
h3{
  display: flex;
  text-align: left;
}

p{display: flex;
  line-height: 2.0;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  word-spacing: 0.5px;

}
section{
  display: grid;
}

.services {
  display: grid;
  gap: 30px;
  margin-top: 40px;
}
article img {
  width: 50%;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.services article {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
article p {
color: forestgreen;
font-weight: bold;
font-style: italic;
margin-bottom: 30px;
}
article ul li {
text-align: left;
list-style-position: inside;
margin: 15px 0;
padding-left: 10px;
}
article ol li{
  text-align: left;
  list-style-position: inside;
  margin: 15px 0;
  padding-left: 10px;
}


