
    
body {
  max-width: 1200px;
  margin: auto;
}
header{
    text-align: center;
    padding: 20px 0px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(193, 170, 143, 0.43);  
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.logo img {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 10%;
  height: auto;

} 

.logo h1 {
  font-size: 1.8em;
  color: #3b2f2f;
  letter-spacing: 1px;
  
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem; 

}
nav li {
  font-size: 2rem;

}

nav a {
  text-decoration: none;
  color: #25b8ae;
  padding: 10px 18px;
 
  border-radius: 8px;
  font-weight: 500;
  transition: all 0.3s ease;
}

nav a:hover {
  background-color: #d8b979;
  color: #fff;
}

nav a.active {
  background-color: #b68c46;
  color: #fff;
}
.section_accueil{
  text-align: center;
  padding: 60px 20px;
  
}

.section_accueil h2 {
  font-size: 2em;
  color: #4a3b2e;
  margin-bottom: 20px;
}

.section_accueil p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1em;
  color: #555;
}
footer {
  text-align: center;
  background-color: #3b2f2f;
  color: #fff;
  padding: 20px 0;
  font-size: 0.9em;
  margin-top: 40px;
}
.page_services{
  padding: 40px 2rem;
  background-color: tan;
}
.page_services p{
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
.services {
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
  margin-top: 2rem;
}
h2 h3{
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  display: flex;
  text-align: center;
  padding: 10px 0;
}
.service img {
  width: 100%;
  height: auto;
  padding: 0;
  display: block;
  object-fit: cover;
  border-radius: 2rem;
  float: initial;
  
 
}

.service p {
font-weight: bold;
font-style: italic;
margin-bottom: 2rem;
}


article ul li {
text-align: center;
list-style-position: inside;
margin: 0;

}
article ol li{
  text-align: center;
  list-style-position: inside;
  margin: 0;
  padding-left: 10px;
  font-size: 2rem;
}
form{
  display: flex;
  gap: .8rem;
  justify-content: center;
}


